version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: efiche_postgres
    environment:
      POSTGRES_USER: efiche_user
      POSTGRES_PASSWORD: efiche_pass
      POSTGRES_DB: efiche_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U efiche_user -d efiche_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: efiche_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@efiche.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data: